.loading-overlay {
  background-color: rgba(100, 0, 40, 0.98);
  z-index: 9999999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.loading-overlay .loading-gif {
  background: url('../../images/loading.GIF') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}